
/* ClassList Tags */

.date {
    margin-top: 15%;
}

.bg-bleu {
    background-color: rgb(113, 113, 227);
}

.bg-jaune {
    background-color: rgb(225, 192, 103);
}

.bg-gris {
    background-color: rgb(202, 202, 202);
}

